/*============== contact_area css ================*/
.about_area {
  .about_img {
    padding-top: 20px;
  }
  .about_text {
    padding-left: 15px;
    margin-top: 20px;
    p {
      text-align: left;
    }
  }
}
